.footer {
    background: #3D4050;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    padding: 30px 0;
}
.footer__row {
    display: flex; justify-content: space-between; align-items: center
}
.footer__text {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 16px;
    max-width: 347px;
    width: 100%;
    letter-spacing: 0.2px;
}
.footer__pay {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #C3C3C3;
    justify-content: space-evenly;
    font-family: 'Lato', sans-serif;
    max-width: 476px;
    width: 100%;
    border-left: 1px solid #C3C3C3;
    border-right: 1px solid #C3C3C3;
}
.footer__pay-item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer__contact {
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    align-items: center;
    max-width: 347px;
    width: 100%;
    padding-left: 38px;
    padding-right: 6px;
}
.footer__contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    span {font-family: 'Lato', sans-serif;}
    &:hover {
        color: $naviBlue;
    }
    
}

@media (max-width: 1090px) {
    .footer__contact {padding-left: 20px;}
    .footer__row {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}
@media (max-width: 400px) {
    .footer__text {
        text-align: center;
    }
    .footer__pay {
        flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    border: none;
    }
    .footer__contact {
        padding: 0;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
    }
}